.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-card {
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.mat-card-header .mat-card-title {
  font-size: 20px;
}

.mat-divider {
  margin-bottom: 16px;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field input {
  width: 80%;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.mat-card-actions button {
  margin-left: 8px;
}
.logo {
  width: 35px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  margin-right: 8px; /* Adjust spacing as needed */
}
