<mat-toolbar color="primary" >
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
 <button  mat-button routerLink="/admin/home">Home</button>
  <button  mat-button routerLink="/admin/profile">Profile</button>
  <button *ngIf="authService.roles.includes('ADMIN')" mat-button [matMenuTriggerFor]="importMenu" >
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    Import
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/admin/loadStudents" >Load Students</button>
    <button mat-menu-item routerLink="/admin/loadPayments">Load Payments</button>
    <button mat-menu-item routerLink="/admin/test">Test</button>
  </mat-menu>
  <span class="spacer"></span>
  <button mat-button *ngIf="authService.authenticated==true" (click)="showUser()" >
    {{authService.username}}
  </button>

  <button (click)="logout()"  mat-raised-button color="accent">Logout</button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="start" opened="true">
    <mat-nav-list>
      <mat-list-item>
          <button mat-button routerLink="/admin/dashboard">
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/students">
          <mat-icon>people</mat-icon>
          Employees
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/payments">
          <mat-icon>payment</mat-icon>
          Payments
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 800px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
